body {background-color: #850001;  background-image: url("https://whollyticket.com/paymentpage/images/event_logo/5a73c5fcb456c_Wando-Logo.png");
}
h1   {color: black; text-align:left;font: 16px lato;
			padding:0% 5% 5% 5%;}
p    {color: black; text-align:center;font: 36px lato;}
#intro{
	background-color: #FFFFFF;
	width:80%;
	min-width: 800px;
	color:#000000;
	text-justify: inter-word;
	margin-top:124px;
	margin-left:10%;
	font: 18px arial, sans-serif;
	padding:13px 1% 0.5% 1.5%;
	display:inline-block
}
#teams{
	background-color: #FFFFFF;
	width:80%;
	min-width: 800px;
	color:#000000;
	text-justify: inter-word;
	margin-top:65px;
	margin-left:10%;
	font: 18px arial, sans-serif;
	padding:13px 1% 0.5% 1.5%;
	display:inline-block
}
#header{
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	height:64px;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color: #440000;
	color:#F5F5F5;
	text-justify: inter-word;
	font: 18px arial, sans-serif;
	padding:20px 0px 20px 20px;
	display:inline-block
	height:100px !important;
}
#button{
	padding-top:15px !important;
	padding-bottom:24px !important;
	padding-right:24px !important;
	padding-left:24px !important;
	color:#F5F5F5 !important;
	font-family: 'Arial', sans-serif;
	font-size:24px;
	float:right;
}
