div.first-container {
    padding-top: 100px;
}

h2.about-calendar {
    text-align: left;
    font-size: 45px;
}

h2 {
    font-family: "Roboto", sans-serif;
}

.calendar {
    height: 100%;
}

hr {
    margin-bottom: 30px;
    margin-top: 30px;
}

@media (max-width:767px) {
    .first-container {
        padding-top: 71px !important;
    }
    h2.about-calendar {
        font-size: 30px !important;
    }
    hr {
        margin-top: 39px !important;
    }
}